{% extends 'base.html' %}

{% block content %}
    <h1><u>Articles :</u></h1>
    {% for article in articles %}
        <li class="list-group-item"><a href="article/{{article.id}}">{{article.title}}</a></li>    
    {% endfor %}
{% endblock %}