<h1>Create Article</h1>

<form action="" method="POST">
    <label for="message">Message : </label>
    <input type="text" name="message" id="message">
    <button type="submit" name="action" value="submit">Valider</button>
</form>

{% if message %}
    <div class="container">
        <h1>Message : </h1>
        <p>{{ message }}</p>
    </div>
{% endif %}