{% extends "base.html" %}


{% block content %}
    <h4 class="subtitle is-4">Messages :</h4>
    {% for post in posts %}
        <div>
            <p>{{ post.author.username }} : <b>{{ post.body }}</b></p>
        </div>
        <br>
    {% endfor %}
{% endblock %}

